* {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;


  --principal-red: #E3646E;
  --principal-purple: #BB72E9;
  --principal-blue: #3996DB;
  --principal-green: #82BC4F;
  --principal-yellow: #EABD5F;

  --principal-gray100: #0D0E11;
  --principal-gray200: #16181D;
  --principal-gray300: #292C34;
  --principal-gray400: #878EA1;
  --principal-gray500: #C0C4CE;
  --principal-gray600: #E2E4E9;

  --font-asap: 'Asap', sans-serif;
  --font-inconsolata: 'Inconsolata', monospace;
  --font-maven-pro: 'Maven Pro', sans-serif;
  
  --title-lg: 700 5.6rem/120% var(--font-asap);
  --title-md: 700 2.4rem/120% var(--font-asap);
  --title-sm: 700 1.6rem/120% var(--font-asap);
  --subtitle: 400 2rem/120% var(--font-inconsolata);
  --text-md: 400 1.6rem/140% var(--font-maven-pro);
  --text-sm: 400 1.4rem/140% var(--font-maven-pro);
}

body {
  width: 100%;
  background-color: var(--principal-gray200);
  color: var(--principal-gray500);
}

h1 {
  font: var(--title-lg);
  color: var(--principal-gray600);
  text-align: center;
}

h2 {
  font: var(--title-md);
  color: var(--principal-gray600);
  text-align: center;
}

h3 {
  font: var(--title-sm);
  color: var(--principal-gray600);
}

h4 {
  font: var(--subtitle);
  text-align: center;

}


span {
  color: var(--principal-red);
}

html {
  scroll-behavior: smooth; /* Faz a rolagem ser suave */
}